[Unit]
Description=veliband backend service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=qualfi
ExecStart=/usr/bin/python3 /home/qualfi/veli-bend-esp32/veli_bend_backend/velibend/manage.py runserver 0.0.0.0:7005
[Install]
WantedBy=multi-user.target
